

.home{
    width: 1px;
    height: auto;
    background-color: black;
    padding: 1px;
}
.imn{
    margin: 20px;
    display: none;
}
h1{
    display: none;
}


@media(max-width:600px){

    .home{
        height:;
    }
}